.container{
    margin-left: 171px;
    margin-right: 171px;
    align-items: center;
    width: 1200px;
}

.row{
    height: 300px;
    margin-bottom: 29px;
}

.col{
    margin: 2px;
    width: 260px;
    padding: 2px;
}