.product {
  background-color: #fafafa;
  height: 563px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 28px;
  color: #252525;
  opacity: 100%;
  letter-spacing: 0.98px;
  font-style: inherit;
}

.navBar {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarSelect {
  border-width: 3px;
  border-color: #ececec;
  width: 1440px;
  margin-top: -6px;
}
