.bcPage{
    font-family: "Lato-Light";
    font-size: 16px;
    color: #252525;
    letter-spacing: 0.56px;
}

.bcPage:link { text-decoration: none; }


.bcPage:visited { text-decoration: none; }


.bcPage:hover { text-decoration: none; }


.bcPage:active { text-decoration: none; }

.dcTitle{
    font-family: "Lato-Regular";
    font-size: 16px;
    color: #252525;
    letter-spacing: 0.56px;
}