.NavBar{
    padding-left: 170px;
    padding-right: 171px;
    margin-top: 40px;
    height: 80px;
    border: 1px;
    border-color: black;
    font-size: 19px;
}

.NavBarDark{
    padding-left: 164px;
    padding-right: 171px;
    height: 40px;
    position: fixed;
}
.login-registration-buttons-wrapper{
    font-size: 14px;
    letter-spacing: 0.49px;
    color: white;
    margin-left: 765px;
    display: flex;
    align-items: center;
}

.login-registration-button{
    font-size: 14px;
    border: none;
    border-width: 0;
    width:max-content;
    height: 17px;
    margin-left: 5px;
    background: #252525;
    text-align: center;
    display: inline-block;
    padding: 0%;
}

.login-registration-button:hover{
    background-color: #252525;
    border-width: 0;
}

.or-parapraph{
    font-size: 14px;
    color: #9B9B9B;
    letter-spacing: 0.49px; 
    margin-left: 10px;
}

.navLink{
    font-size: 16px;
    color: #252525;
    opacity: 100%;
    letter-spacing: 0.56px;
    margin-left: 980px;
}

.navLink:link{
    text-decoration: none;
}

.navLink:hover{
    text-decoration: none;
    color: #252525;
}

.navBarIcon{
    color: gray;
    width: 25px;
    height: 25px;
}

.logoIcon{
    width: 15px;
    height: 15px;
    color: #8367D8;
}

.logo{
    font-size: 24px;
    color: #8367D8;
    letter-spacing: 0.84px;
}